# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Testing
# =========================
.pytest_cache/
coverage/
htmlcov/

# =========================
# Temporary Files
# =========================
*.tmp
*.bak
*.swp

# =========================
# Large model/cache files
# =========================
*.sqlite
*.db
*.faiss